


<div class="transitions-enabled" id="bikes">
  <% @bikes.each do |bike| %>
    <div class="box panel panel-default">
      <%= link_to (image_tag bike.image.url()), bike %>
      <h2>
        <%= link_to bike.title, bike %>
      </h2>
      <p class="user">
        Submitted by
        <%= bike.user.name %>
      </p>
      <span>
        <i class="fa fa-comments-o"></i>
        <%= bike.comments.count %>
      </span>
      <div class="star-rating" data-score="<%= set_average_rating(bike) %>"></div>
    </div>
     
  <% end %>
</div>

  

<script>
  $('.star-rating').raty({
    path: '/assets',
    readOnly: true,
    score: function() {
        return $(this).attr('data-score');
    }
  });
</script>
