
<% if user_signed_in? %>
  <p id="intro">
    Hello
    <%= current_user.name %>
    <br/>
    
  </p>
<% else %>
  <p id="intro">
    Do you have a bike to rent?
    <br/>
    
  </p>
<% end %>

<div class="transitions-enabled" id="bikes">
  <% @bikes.each do |bike| %>
    <div class="box panel panel-default">
      <%= link_to (image_tag bike.image.url()), bike %>
      <h2>
        <%= link_to bike.title, bike %>
      </h2>
      <p class="user">
        Submitted by
        <%= bike.user.name %>
      </p>
      <span>
        <i class="fa fa-comments-o"></i>
        <%= bike.comments.count %>
      </span>
    </div>
  <% end %>
</div>
