
<div id="post_show">
<h1>
    <%= @bike.title %>
  </h1>
  <p class="username">
    Shared by
    <%= @bike.user.name %>
    about
    <%= time_ago_in_words(@bike.created_at) %>
  </p>
  <div class="clearfix">
    <div class="post_image_description">
       <%= image_tag @bike.image.url(:large) %>
       <div class="star-rating" data-score= <%= @avg_rating%>></div>
            <em><%= "#{@comments.length} comments" %></em>
      <div class="description">
        <%= simple_format(@bike.description) %>
      </div>
    </div>
     <div class="post_data">
      <p class="data">
        <i class="fa fa-comments-o"></i>
        <%= pluralize(@bike.comments.count, "Comment") %>
      </p>
      <%= link_to "Add comment", new_bike_comment_path(@bike) %>
      <% if @comments.blank? %>
          <h3>None yet. Why don't you add one?</h3>
          <%= link_to "Write a comment",  new_bike_comment_path(@bike), class: "btn btn-danger" %>
        <% else %>
          <% @comments.each do |comment| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= comment.rating %>></div>
              <p><%= comment.content %></p>
              <%= link_to "Edit Comment", edit_bike_comment_path(@bike, comment) %>
              <%= link_to "Delete", bike_comment_path(@bike, comment), method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
          <% end %>
          <% end %>
     
      <% if @bike.user == current_user %>
        <%= link_to "Edit Bike", edit_bike_path(@bike)  %>
        <%= link_to "Delete", bike_path(@bike), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
   

<script>
  $('.star-rating').raty({
    path: '/assets',
    readOnly: true,
    score: function() {
        return $(this).attr('data-score');
    }
  });
  
</script>

