
<div id="bike">
<%= image_tag@bike.image.url(:medium) %>

    <h2>
      <%= @bike.title %>
    </h2>
    <p>
      <%= @bike.description %>
    </p>
    <p>
    	<%= @bike.user.name %>
    </p>
    <div id="comments">
  <h2 class="comment_count">
    <%= pluralize(@bike.comments.count, "Comment") %>
  </h2>
  <% @comments.each do |comment| %>
    <div class="comment">
      <p class="username">
        <%= comment.user.name %>
      </p>
      <p class="content">
        <%= comment.content %>
      </p>
    </div>
  <% end %>
  <%= render "comments/form" %>
</div>       
</div>
<div id="links">
  <%= link_to "Back", root_path, class: "btn btn-sm btn-default" %>
  <%= link_to "Edit", edit_bike_path(@bike), class: "btn btn-sm btn-default" %>
  <%= link_to "Delete", bike_path(@bike), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-default" %>
</div>
