<div id="bike">
  <div class="bike">
  <em>
      <%= @bike.category %>
    </em>
    <h2>
      <%= @bike.title %>
    </h2>
    <p>
      <%= @bike.description %>
    </p>

   
  </div>
</div>
<div id="links">
  <%= link_to "Back", root_path, class: "btn btn-sm btn-default" %>
  <%= link_to "Edit", edit_bike_path(@bike), class: "btn btn-sm btn-default" %>
  <%= link_to "Delete", bike_path(@bike), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-default" %>
</div>
