
<div id="post_show">
<h1>
    <%= @bike.title %>
  </h1>
  <p class="username">
    Shared by
    <%= @bike.user.name %>
    about
    <%= time_ago_in_words(@bike.created_at) %>
  </p>
  <div class="clearfix">
    <div class="post_image_description">
       <%= image_tag @bike.image.url(:large) %>
      <div class="description">
        <%= simple_format(@bike.description) %>
      </div>
    </div>
     <div class="post_data">
      <p class="data">
        <i class="fa fa-comments-o"></i>
        <%= pluralize(@bike.comments.count, "Comment") %>
      </p>
      <%= link_to "Add comment", new_bike_comment_path(@bike) %>
      <% @comments.each do |comment| %>
        <div class="comment">
          <div class="star-rating" data-score= <%= comment.rating %>></div>
          <%= comment.content %>
          <%= link_to "Edit Comments", edit_bike_comment_path(@bike, comment) %>
        </div>
  <% end %>
      <% if @bike.user == current_user %>
        <%= link_to "Edit Bike", edit_bike_path(@bike)  %>
        <%= link_to "Delete", bike_path(@bike), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
   

<script>
  $('.star-rating').raty({
    path: '/assets',
    readOnly: true,
    score: function() {
        return $(this).attr('data-score');
    }
  });
  
</script>

