<!DOCTYPE html>
<html>
<head>
  <title>BikeSpike</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></link>
  <%= csrf_meta_tags %>
</head>
<body class="bikr">
  <header>
    <div class="container">
        <div class="col-md-9">
          <h4>Bikr</h4>
        </div>
          <div class="col-md-3">
            <p class"pull-right">Welcome: <%= link_to current_user.name, edit_user_registration_path %></p>
          </div>
            </br>
              <hr>
              <div class="col-md-9">
                <ul class="nav navbar-nav">
                  <li>
                    <%= link_to "All Bikes", root_path %>
                  </li>
                    <% Category.all.each do |category| %>
                  <li>
                    <%= link_to category.name, bikes_path(category: category.name) %>
                  </li>
                  <% end %>
                  </ul>
                  </div>
                  <div class="col-md-3 login">
                    <% if user_signed_in? %>
                    <%= link_to "Add New Bike", new_bike_path, class: "btn btn-default pull-right" %>
                  <% else %>
                    <%= link_to "Sign in", new_user_session_path, class: "btn btn-default pull-right" %>
                    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default pull-right" %>
                  <% end %>
          </div>
</header>

  <div class="container">
      <%= yield %>
   </div> 
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>

</html>
